<article>
  <h2><a href="#">The Lorem Ipsum Title</a></h2>
 
  <div class="row">
    <span class="glyphicon glyphicon-folder-open"></span><a href="#">News</a>
    <span class="glyphicon glyphicon-pencil"></span><a href="#">20 Comments</a>
    <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
  </div>
  <hr>
  <img src="http://placehold.it/900x300" class="img-responsive">
  <br /> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in mi auctor, eleifend nisi non, blandit mi. Fusce euismod interdum dui at rutrum. Vestibulum non leo accumsan, feugiat neque a, ullamcorper turpis. Curabitur interdum euismod rhoncus. Nam vel sapien vitae odio commodo tempus et vel mauris. Etiam et tincidunt justo. Integer ultrices, augue quis blandit lobortis, ante risus maximus neque, vel imperdiet purus tortor vitae orci. Morbi rhoncus aliquet risus.</p>
  <p class="text-right">
    <a href="#" class="text-right">
      continue reading...
    </a>
  </p>
 
  <hr>
</article>
