<div class="jumbotron">


  <h1>Track your game skill!</h1>
  <p><span class="glyphicon glyphicon-user"></span> Create a profile!</p>
  <p><span class="glyphicon glyphicon-globe"></span> Play with players from around the world!</p>
  <p><span class="glyphicon glyphicon-comment"></span> Make comments!</p>
  <p><span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Browse statistics!</p>
  <p><span class="glyphicon glyphicon-scale"></span> Observe your progress!</p>
  <p><span class="glyphicon glyphicon-star"></span> Gain points!</p>
  <p><span class="glyphicon glyphicon-heart"></span> And fame!</p>

  <%= link_to "Learn more", pages_about_path, class: 'btn btn-primary' %>

</div>
