<div class="jumbotron">


  <h1>Advanced options</h1>
  <p><%= link_to "Default Ladder Configuration", edit_ladder_config_path(find_default_ladder_config) %>
     - If a ladder has not its own configuration, than it will use this.</p>

</div>
