<div class="jumbotron">


  <h1>Advanced options</h1>
  <p><%= link_to "Default Ranking Configuration", edit_ranking_config_path(find_default_ranking_config) %>
     - If a ranking has not its own configuration, than it will use this.</p>

</div>
