<div class="panel panel-default">

  <div class="panel-heading">
    <h1>New Ladder</h1>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
    <%= link_to 'Back', ladders_path %>
  </div>

</div>
