<div class="panel panel-default">

  <div class="panel-heading">
    <h2><%= @ranking.game.full_name %> / <%= @ranking.name %> / New Scenario</h1>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
    <%= link_to 'Back', scenarios_path %>
  </div>

</div>
