// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.lang-checkbox
  white-space: nowrap
  padding-left: 2px
  padding-right: 2px
  ::after
    content:  ", "

td.profile-name a
  display: block
  width: 100%

.profile-color
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff
  font-weight: 900
