<div class="panel panel-default">

  <div class="panel-heading">
    <h2><%= @game.full_name %> / New Possible result</h1>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
    <%= link_to 'Back to the game', @game %>
  </div>

</div>
