<div class="well well-sm">
  <p>
    Debug:
  </p>
  <p>
    current_user.id:
    <!-- <% if current_user %> -->
      <%= current_user.id %>
    <!-- <% else %> -->
      <!-- nil (unlogged) -->
    <!-- <% end %> -->
  </p>
  <p>
    @user.id:
    <!-- <% if @user %> -->
      <%= @user.id %>
    <!-- <% else %> -->
      <!-- nil -->
    <!-- <% end %> -->
  </p>
  <p>
    params: <%= p params %>
  </p>
</div>
